In [2]:
import pandas as pd
data = pd.read_csv("destination.csv")
data.shape

(15, 5)

In [2]:
import pandas as pd
data = pd.read_csv("destination.csv")
print(data.iloc[3:8])

    Destination  Score   Hotel_rating  All_inclusive_Hotels Most_visited_city
3   switzerland       9           4.0                     7            Zurich
4         India       8           3.0                     5             Delhi
5           USA       7           4.0                     8          New york
6            UK       8           3.5                     6            London
7  South Africa       7           3.0                     5          Capetown

In [4]:
import pandas as pd
data = pd.read_csv("destination.csv")
data["All_inclusive_Hotels"].mean()

5.933333333333334

In [18]:
import pandas as pd
data = pd.read_csv("destination.csv")
data["Scores"].min()

5

In [21]:
import pandas as pd
data = pd.read_csv("destination.csv")
myfilter = data["Scores"]  <= 5
lowerscore = data[myfilter]
lowerscore.min()

Destination             Greece
Scores                       5
Hotel_rating               3.0
All_inclusive_Hotels         5
Most_visited_city       Athens
dtype: object

In [26]:
import pandas as pd
data = pd.read_csv("destination.csv")
data[data.All_inclusive_Hotels >= 9]

   Destination  Scores  Hotel_rating  All_inclusive_Hotels Most_visited_city
5          USA       7           4.0                     9          New york
12       Dubai       8           4.5                     9         Abu Dhabi